<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiguang.myshop.web.admin.dao.TbContentDao">
    <sql id="tbContentColumns">
        a.id,
        a.category_id AS categoryId,
        a.title,
        a.sub_title AS subTitle,
        a.title_desc As titleDesc,
        a.url,
        a.pic,
        a.pic2,
        a.content,
        a.created,
        a.updated,
    </sql>

    <select id="findAll" resultType="TbContent">
        select
        <include refid="tbContentColumns" />
        from
        tb_content as a
    </select>

    <insert id="save">
        insert into tb_content(
          category_i,
          title,
          sub_title,
          title_desc,
          url,
          pic,
          pic2,
          content,
          created,
          updated
        )
        VALUES
          (
            #{categoryId},
            #{title},
            #{subTitle},
            #{titleDesc},
            #{url},
            #{pic},
            #{pic2},
            #{content},
            #{created},
            #{updated}
          )
    </insert>

    <delete id="delete">
        delete from tb_content where  id=#{id}
    </delete>

    <select id="findById" resultType="TbContent">
        select
        <include refid="tbContentColumns" />
        from
        tb_content as a
        where a.id=#{id}
    </select>


    <update id="update">
        UPDATE
            tb_content
         SET
            'category_id'=#{categoryId},
            'title'=#{title},
            'sub_title'=#{subTitle},
            'title_desc'=#{titleDesc},
            'url'=#{url},
            'pic'=#{pic},
           'pic2'=#{pic2},
            'content'=#{content},
            'created'=#{created},
            'updated'=#{updated}
         where
            id=#{id}
    </update>


    <delete id="deleteMulti">
        DELETE  FROM  tb_user
        where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="page" resultType="TbContent" parameterType="java.util.Map">
        SELECT
        <include refid="tbContentColumns" />
        FROM tb_content AS
        <where>
            <if test="tbContent.title != null and tbContent.title!=''">
                AND a.title LIKE CONCAT ('%',#{tbContent.title},'%')
            </if>
            <if test="tbContent.subTitle!= null and tbContent.subTitle!=''">
                AND a.sub-title LIKE CONCAT ('%',#{tbContent.subTitle},'%')
            </if>
            <if test="tbContent.titleDesc!= null and tbContent.titleDesc!=''">
                AND a.title_desc LIKE CONCAT ('%',#{tbContent.titleDesc},'%')
            </if>
        </where>
        LIMIT  #{start}, #{length}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT  COUNT(*) FROM  tb_content AS  a
        <where>
            <if test="title != null and title!=''">
                AND a.title LIKE CONCAT ('%',#{title},'%')
            </if>
            <if test="subTitle!= null and subTitle!=''">
                AND a.sub_title LIKE CONCAT ('%',#{subTitle},'%')
            </if>
            <if test="titleDesc!= null and titleDesc!=''">
                AND a.title_desc LIKE CONCAT ('%',#{titleDesc},'%')
            </if>
        </where>
    </select>
</mapper>