<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiguang.myshop.web.admin.dao.TbContentCategoryDao">
    <sql id="tbContentCategoryColumns">
        a.id;
        a.parent_id as  parentId;
        a.name;
        a.status;
        a.sort_order as sortOrder;
        a.is_parent  as isParent;
        a.created;
        a.updated;
    </sql>
    
    <select id="findAll" resultType="TbContentCategory">
        SELECT  * FROM tb_content_category AS a ORDER  BY parent_id ASC ,sort_order ASC,is_parent DESC
    </select>

    <select id="findById" resultType="TbContentCategory">
        select
        <include refid="tbContentCategoryColumns" />
        from
        tb_content_category as a
        where a.id=#{id}
    </select>
</mapper>